{% extends "layout.html" %} {% block title %} Display Quiz {% endblock %} {%
block main %}
<div class="display_quiz-container mx-auto mb-5 mt-2">
	<div
		class="display_quiz-top-card d-flex justify-content-between align-items-center">
		<div class="container">
			<span class="login-text">@HanoiAirline608</span>
		</div>
		<div class="container">
			<h3 class="quiz-title">Quiz</h3>
		</div>
	</div>
	<div class="display_quiz-body">
		<form action="/display_quiz" class="form-control" method="post">
			{% for q in questions %}
			<div class="container display_quiz-question-box">
				<div class="container mt-2 mb-3">
					<h3 class="question-title">{{ q["question"] }}</h3>
				</div>
				<div class="container">
					<select name="{{ q['id'] }}" class="form-select">
						{% for option in q['options'] %}
						<option value="{{ option }}">{{ option }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			{% endfor %}
			<div class="container mt-3 mb-3">
				<input type="submit" value="Submit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
{% endblock %}
