{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %} {% if confirmation %}
<div class="container-fluid">
	<h3 class="homepage-title">Homepage</h3>
	<div class="container homepage-box mt-3">
		<div class="info-box mt-2 mb-2 mx-auto">
			<span class="information">Username: {{ user.username }}</span>
		</div>
		<div class="mt-2 mb-2 info-box mx-auto">
			<span class="information"
				>Number of recordings: {{ recording_number }}
			</span>
		</div>
		<div class="mt-2 mb-2 info-box mx-auto">
			<span class="information"
				>Number of transcripts: {{ transcripts }}
			</span>
		</div>
		<div class="mt-2 mb-2 info-box mx-auto">
			<span class="information"
				>Number of summaries: {{ summaries }}</span
			>
		</div>
	</div>
</div>
{% else %}
<p>Hello</p>
{% endif %} {% endblock %}
