<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="static/dreamer_icon.svg" />
		<title>HanoiAirline: {% block title %}{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lemon&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kavoon&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="static/css/styles.css" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<script src="static/js/recording.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light">
			<div
				class="container-fluid d-flex justify-content-center align-items-cente gap-sm-1r">
				<div class="container">
					<img src="static/dreamer_icon.svg" alt="Dreamer icon" />
					<span class="navbar-title">Dreamy</span>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</div>
			</div>
		</nav>
		{% block main %}{% endblock %}
		<footer></footer>
	</body>
</html>
