<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="static/dreamer_icon.svg" />
		<title>HanoiAirline: {% block title %}{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lemon&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kavoon&family=Poppins:wght@500&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="static\css\styles.css" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css.map" />
		<script src="static/js/recording.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light nav-background-light">
			<div class="container">
				<div class="navbar-brand text-center">
					<div
						class="d-flex justify-content-center align-items-center">
						<img
							src="static/images/dreamer_icon.svg"
							alt="Dreamer icon"
							class="dreamer-navbar-icon" />
						<a href="/" class="navbar-title">Dreamy</a>
					</div>
				</div>
				{% if session.get("user_id") != None %}
				<ul class="navbar-nav ms-auto">
					<li class="nav-item me-2">
						<a class="nav-link" href="/my_folder">My folder</a>
					</li>
					<li class="nav-item me-2">
						<a class="nav-link" href="/record">Record</a>
					</li>
					<li class="nav-item me-2">
						<a class="nav-link" href="/display">Display</a>
					</li>
					<li class="nav-item me-2">
						<a class="nav-link" href="/quiz">Quiz</a>
					</li>
					<li class="nav-item me-2">
						<a href="/summary" class="nav-link">Create notes</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">Log Out</a>
					</li>
				</ul>
				{% else %}
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/register">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Log In</a>
					</li>
				</ul>
				{% endif %}
			</div>
		</nav>
		<main class="container-fluid py-5 text-center">
			{% block main %}{% endblock %}
		</main>
		<footer
			class="text-center container-fluid nav-background-light navbar fixed-bottom">
			<div
				class="container-fluid justify-content-center align-items-center text-center mb-3">
				<span class="footer-span">Follow us on</span>
			</div>
			<div
				class="container-fluid d-flex align-items-center gap-sm-5 justify-content-center">
				<ul class="list-inline mr-2">
					<li class="list-inline-item me-3">
						<img
							src="static/images/facebook.svg"
							alt="Facebook icon" />
					</li>
					<li class="list-inline-item me-3">
						<img
							src="static/images/instagram.svg"
							alt="Instagram icon" />
					</li>
					<li class="list-inline-item">
						<img
							src="static/images/location.svg"
							alt="Location icon" />
					</li>
				</ul>
			</div>
		</footer>
	</body>
</html>
