{% extends "layout.html" %} {% block title %} Display {% endblock %} {% block
main %}
<div class="container-fluid mx-auto">
	<div class="container-flex-wrap">
		{% for sub in rec_subject %}
		<div class="min-width-30 my_folder-card">
			<div class="my_folder-card-subject-box">
				<h3 class="subject-title">{{ sub }}</h3>
			</div>
			<div class="my_folder-bottom-card">
				<ul class="my_folder-list">
					{% for name in rec_subject[sub] %}
					<li>{{ name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
