{% extends "layout.html" %} {% block title %} Quiz {% endblock %} {% block main
%}
<h3 class="page-title">Chọn recording để tạo quiz</h3>
<div class="container mx-auto mt-4">
	<form action="/quiz" method="post">
		<select
			name="recordings"
			id="recordings"
			class="form-select width-limit-16 mx-auto mb-3">
			<option value="none" selected disabled hidden>
				Chọn file ghi âm để tạo quiz
			</option>
			{% for rec in records %} {% if rec.filename != '' %}
			<option value="{{ rec.id }}">{{ rec.filename }}</option>
			{% else %}
			<option value="{{ rec.id }}">Untitled recording</option>
			{% endif %} {% endfor %}
		</select>
		<div class="container mt-3 mb-1">
			<select
				name="question_type"
				id="question_type"
				class="form-select width-limit-16 mx-auto">
				<option value="none" selected disabled hidden>
					Chọn loại câu hỏi
				</option>
				<option value="MCQ">Multiple choice question</option>
				<option value="TF">True/False</option>
			</select>
		</div>
		<button class="submit-button mt-3">
			<input type="submit" value="Submit" class="submit-input" />
		</button>
		<div class="container mt-5">
			<img src="static/images/lightbulb.png" alt="Lightbulb" />
		</div>
	</form>
</div>
{% endblock %}
