{% extends "layout.html" %} {% block title %} Record {% endblock %} {% block
main %}
<h3 class="page-title">Ghi âm</h3>
<div class="container-form">
	<form action="/record" class="">
		<input
			type="text"
			name="topic"
			id="topic"
			class="mx-auto form-name-input text-center mt-2 me-2"
			placeholder="Chủ đề của file là" />
		<input
			type="text"
			name="filename"
			id="filename"
			class="mx-auto form-name-input text-center mt-2 me-2"
			placeholder="Tên của file là" />
		<input
			type="text"
			name="folder"
			id="folder"
			class="mx-auto form-name-input text-center mt-2"
			placeholder="Thư mục của file" />
		<div class="container mt-4">
			<button id="start-recording" class=""></button>
		</div>
		<div class="container mt-3">
			<button class="random-button">
				<a href="/upload_record"
					>Bạn cũng có thể upload file ghi âm của mình tại đây</a
				>
			</button>
		</div>

		<div class="mt-2"><span id="record-status"></span></div>
		<div class=""><span id="recording-time"></span></div>
		<div class="button-container mt-4 mx-auto">
			<button id="stop-recording" disabled class="recording-button">
				Kết thúc ghi âm
			</button>
			<button class="submit-button">
				<input type="submit" value="Submit" class="submit-input" />
			</button>
		</div>
	</form>
	<div id="record-status"></div>
	<div class="progress mt-5 mx-auto mb-4">
		<div
			id="progress-bar"
			class="progress-bar progress-bar-striped progress-bar-animated"
			role="progressbar"
			style="width: 0"></div>
	</div>
</div>
{% endblock %}
