{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<div class="container-form-old mx-auto">
	<div class="top-login-bar"></div>
	<div class="form-body-container">
		<div class="mx-auto mt-1 mb-0">
			<span class="form-title">ĐĂNG KÍ THÀNH VIÊN</span>
		</div>
		<form action="/register" method="post" class="form-control">
			<div class="mb-3 form-row">
				<div class="label">Tên tài khoản của bạn:</div>
				<input
					autocomplete="off"
					autofocus
					class="form-control me-auto w-auto mt-2"
					id="username"
					name="username"
					placeholder="Tên tài khoản"
					type="text"
					maxlength="20" />
			</div>
			<div class="mb-3 form-row">
				<div class="label">Mật khẩu của bạn:</div>
				<input
					class="form-control me-auto w-auto"
					id="password"
					name="password"
					placeholder="Mật khẩu"
					type="password"
					maxlength="50" />
			</div>
			<div class="mb-4 form-row">
				<div class="label">Bạn là:</div>
				<select
					name="role"
					id=""
					class="form-select width-limit-13 me-auto">
					<option value="none" disabled selected hidden>
						Vai trò
					</option>
					<option value="researcher">Researcher</option>
					<option value="teacher">Teacher</option>
					<option value="undergraduate">Undergraduate</option>
					<option value="student">Student</option>
				</select>
			</div>
			<button class="btn btn-primary mb-3 me-auto" type="submit">
				<span>Tiếp tục</span>
			</button>
		</form>
	</div>
</div>

{% endblock %}
