{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<div class="container mx-auto max-w-md">
	<div class="container-form">
		<div
			class="container d-flex justify-content-between align-items-center bg-brown-light flex-shrink-0"
			id="blue-login-bar">
			<div>
				<span class="login-text">@HanoiAirline608</span>
			</div>
			<div
				class="d-flex align-items-center justify-content-center gap-sm-3">
				<div class="container login-icon-box">
					<img
						class="login-icon"
						src="static/images/dash.svg"
						alt="Dash" />
				</div>
				<div class="container login-icon-box">
					<img
						class="login-icon"
						src="static/images/folder.svg"
						alt="Folder" />
				</div>
				<div class="container login-icon-box">
					<img
						class="login-icon"
						src="static/images/ex.svg"
						alt="X" />
				</div>
			</div>
		</div>
		<div class="container">
			<div class="mx-auto">
				<span class="login-title">BECOME A DREAMER...</span>
			</div>
			<form action="/register" method="post" class="form-control">
				<div class="mb-5 form-group row">
					<input
						autocomplete="off"
						autofocus
						class="form-control mx-auto w-auto my-3"
						id="username"
						name="username"
						placeholder="Username"
						type="text"
						maxlength="20" />
				</div>
				<div class="mb-4 from-group row mx-auto">
					<input
						class="form-control mx-auto w-auto"
						id="password"
						name="password"
						placeholder="Password"
						type="password"
						maxlength="50" />
				</div>
				<button class="btn btn-primary mb-3" type="submit">
					<span>Continue</span>
				</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}
