{% extends "layout.html" %} {% block title %} Reset {% endblock %} {% block main
%}
<div class="container-fluid mx-auto">
	<div class="after_record-container mx-auto">
		<form action="/reset" method="post">
			<div class="container mx-auto">
				<h2 class="login-title mb-3">Reset password</h2>
			</div>
			<input
				class="after_record-input mb-2"
				type="text"
				name="new_password"
				autofocus
				placeholder="Enter new password" />
			<div class="container mt-3">
				<input type="submit" value="Set file name" />
			</div>
		</form>
	</div>
</div>
{% endblock %}
